@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.card-wrapper {
  display: flex;
  flex-direction: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

@media screen and (min-width: 700px){
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 1rem;
  }
}

.user-list {
  background: url('./project-images/girl-grid-animebackgrounf.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
}

.createuser-list {
  background: url('./project-images/moon-anime-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
}
.edituser-list {
  background: url('./project-images/pastelpink-anime-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
}

.card-text {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 17px;
  color: white;
}

@font-face {
  font-family: Funkhouse;
  src: url('./fonts/FUNKHOUS.TTF')
}
.text-title {
  font-family: FunkHouse;
  font-size: 120px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #000;
}

.form-control {
  width: 40%;
}

#button-addition {
  display: inline;
  margin: 1px;
  padding: 5px 10px;
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 20% 0 20%;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
  }

  @font-face {
    font-family: Funkhouse;
    src: url('./fonts/FUNKHOUS.TTF')
  }
  .text-title {
    font-family: FunkHouse;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px #000;
  }

}